#textdomain wesnoth-Bad_Moon_Rising
[textdomain]
	name="wesnoth-Bad_Moon_Rising"
	path="data/campaigns/Bad_Moon_Rising/translations"
[/textdomain]

[campaign]
	id="Bad_Moon_Rising_I"
	name= _ "Bad Moon Rising"+ "
`<128,128,128>" +_"Part I:  Awakening"
	define=CAMPAIGN_BAD_MOON_RISING_I
	first_scenario="01_Abandoned"
	rank=421
	difficulties=EASY,NORMAL,HARD
	difficulty_descriptions={MENU_IMG_TXT2 "units/undead-skeletal/skeleton.png" (_"Mindless") _"(easy)"} +
                ";*" + {MENU_IMG_TXT2 "units/undead-skeletal/revenant.png" (_"Troublesome") _"(normal)"} +
                ";" + {MENU_IMG_TXT2 "units/undead-skeletal/draug.png" (_"Impossible") _"(hard)"}
	description= _ "A soldier of Weldyn is captured by a necromancer. His attempt to escape sets events in motion that could have consequences for all life on the planet.  (5/5 scenarios playable, some less trivial than others.  Relatively quick adventure-ish campaign, no recruiting.  UPDATE for 0.5.3: only minor tweaks)"
	icon="fast.png"
	image=BMRintro1.png
[/campaign]
[campaign]
	id="Bad_Moon_Rising"
	name= _ "Bad Moon Rising"+ "
`<128,128,128>" +_"Part II:  Out of the North"
	define=CAMPAIGN_RISING
	first_scenario="1_00_Orders"
	rank=422
	difficulties=EASY,NORMAL,HARD
	difficulty_descriptions={MENU_IMG_TXT2 BMRregular.png (_"Regular") _"(easy)"} +
                ";*" + {MENU_IMG_TXT2 BMRveteran.png (_"Veteran") _"(normal)"} +
                ";" + {MENU_IMG_TXT2 BMRsubcommander.png (_"Subcommander") _"(hard)"}
	description= _ "The best of intentions often do not lead to the best results.  The new King was cruel, but the rebellion unwittingly unleashes an even greater evil on the world.  (Works on 1.5   There are ~12 scenarios playable, some are not balanced.  UPDATE for 0.5.3:  Some new graphics, scenerio "Haunted" removed, some work done on the off-road skirmishes.)"
	icon="huric.png"
	image=BMRintro2.png
[/campaign]
[campaign]
 	id="Bad_Moon_Rising_III"
 	name= _ "Bad Moon Rising"+ "
`<128,128,128>" +_"Part III:  End of an Era"
	define=CAMPAIGN_BAD_MOON_RISING_III
	first_scenario="2_01_Trouble"
	rank=423
	difficulties=EASY,NORMAL,HARD
	difficulty_descriptions={MENU_IMG_TXT2 BMRregular.png (_"Regular") _"(easy)"} +
                ";*" + {MENU_IMG_TXT2 BMRveteran.png (_"Veteran") _"(normal)"} +
                ";" + {MENU_IMG_TXT2 BMRsubcommander.png (_"Subcommander") _"(hard)"}
	description= _ "Battles were won, but the war is not over.  The Ukians must head back north to save the world ( etc., etc.). (0.5.3 Status:  Fixes and upgrades in progress.  It should mostly work, but it is not as well tested.)"
	icon="slasher.png"
	image=BMRintro3.png
{@campaigns/Bad_Moon_Rising/about.cfg}
[/campaign]

[binary_path]
path=data/campaigns/Bad_Moon_Rising/external_binary_data
[/binary_path]

#ifdef CAMPAIGN_BAD_MOON_RISING_I
[binary_path]
path=data/campaigns/Bad_Moon_Rising/
[/binary_path]
[+units]
{@campaigns/Bad_Moon_Rising/units}

[/units]
{@campaigns/Bad_Moon_Rising/utils}
{@campaigns/Bad_Moon_Rising/scenarios1}
#endif

#ifdef CAMPAIGN_RISING
[binary_path]
path=data/campaigns/Bad_Moon_Rising/
[/binary_path]
[+units]
{@campaigns/Bad_Moon_Rising/units}

[/units]
{@campaigns/Bad_Moon_Rising/utils}
{@campaigns/Bad_Moon_Rising/scenarios2}
#endif

#ifdef CAMPAIGN_BAD_MOON_RISING_III
 [binary_path]
 path=data/campaigns/Bad_Moon_Rising/
 [/binary_path]
# {@campaigns/Extended_Era.cfg}
 [+units]
 {@campaigns/Bad_Moon_Rising/units}
# {@campaigns/Extended_Era/units}
# {@campaigns/Extended_Era/races}

 [/units]
{@campaigns/Bad_Moon_Rising/utils}
{@campaigns/Bad_Moon_Rising/scenarios3}
#endif

# Maybe someday...
#ifdef MULTIPLAYER
#{@campaigns/Bad_Moon_Rising/eras}
#[+units]
#	{@campaigns/Bad_Moon_Rising/units}
#[/units]
#endif
