#textdomain wesnoth-Bad_Moon_Rising

[about]
	images=misc/BMRtundra.png,misc/BMRsemaphore.png
[/about]
[about]
	title= _ "Bad Moon Rising"
	text= _ "a work in progress..."
[/about]
[about]
	title= _ "Author"
	text= _ "doofus-01"
[/about]
[about]
	title= _ "Special Thanks To:"
	text= _ "kitty, 
Girgistian, 
Cernunnos,
docrock,
claudya"
[/about]
[about]
	title= _ "Thanks to the core team"
	text= _ "The developers, musicians, artists and forum moderators"
[/about]
[about]
	title= _ "Make your voice heard!"
	text= _ "Visit http://forum.wesnoth.org"
[/about]
