#textdomain wesnoth-Bad_Moon_Rising

[unit_type]
	id=Ophis
	name= _ "Ophis"
	race=khthon
	image="units/khthon/ophis.png"
#	profile=portraits/orthrus.png
	hitpoints=115
	movement_type=khthonfoot
	movement=6
	experience=80
	level=2
	alignment=chaotic
	advances_to=null
	{AMLA_DEFAULT}
	cost=28
	usage=scout
	description= _ "The Khthon spirit has begun to transform its bovine victim.  The hindquarters become more snake-like, and the coil increases the strike range.  The combination of hoofs amd serpent tail also allows it to quickly weave through almost any terrain."
        die_sound=drake-die.ogg
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=40
    [/defense]
	[resistance]
		blade=90
		pierce=90
		impact=90
		cold=80
		fire=90
		arcane=110
	[/resistance]
	[abilities]
        	{ABILITY_REGENERATES}
	[/abilities]
	[attack]
		name=horns
		description= _ "Horns"
		type=pierce
		range=melee
		damage=12
		number=3
		icon=attacks/blank-attack.png
		[specials]
		    {WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
	[/attack]
    [defend]
	   offset=0.0~-0.05:126,-0.05~0.0:126
        start_time=-126
        [frame]
            duration=1
            image=units/khthon/ophis.png
        [/frame]
        [frame]
            duration=100
            image=units/khthon/ophis.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image=units/khthon/ophis.png
		sounds={SOUND_LIST:DRAKE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image=units/khthon/ophis.png
            [/frame]
        [/else]
        [frame]
            duration=1
            image=units/khthon/ophis.png
        [/frame]
    [/defend]

	[attack_anim]
		[filter_attack]
			name=horns
		[/filter_attack]
		[frame]
			begin=-200
			end=-100
			image="units/khthon/ophis.png"
		[/frame]
		[if]
		hits=yes
			[frame]
				begin=-100
				end=0
				image="units/khthon/ophis.png"
		                sound=club.ogg
			[/frame]
		[/if]
		[else]
		hits=no
			[frame]
				begin=-100
				end=0
				image="units/khthon/ophis.png"
		                sound={SOUND_LIST:MISS}
			[/frame]
		[/else]				
		[frame]
			begin=0
			end=50
			image="units/khthon/ophis.png"
		[/frame]
	[/attack_anim]

[/unit_type]

