#textdomain wesnoth-Bad_Moon_Rising

#define FLAMES X Y

	[event]
	name=prestart
        [item]
                x,y={X},{Y}
                halo=scenery/fire1.png:200,scenery/fire2.png:200,scenery/fire3.png:200,scenery/fire4.png:200,scenery/fire5.png,scenery/fire6.png:200,scenery/fire7.png:200,scenery/fire8.png:200   
        [/item]
	[/event]

	[event]
	name=moveto
	first_time_only=no
	    [filter]
		x,y={X},{Y}
	    [/filter]
	[object]
	    [filter]
		x,y={X},{Y}
	    [/filter]
	silent=yes
	[effect]
	    apply_to=hitpoints
	    increase=-4
	[/effect]
	[/object]
	    [sound]
	    name="fire.wav"
	    [/sound]
	[/event]

	[event]
	name=moveto
	[filter]
	side=1
	x,y={X},{Y}
	[/filter]
	[message]
	speaker=narrator
	message= _ "Do not stand in the fire!"
	    image=wesnoth-icon.png
	[/message]
	[/event]
#enddef

#define DOG_WOOF X Y 
    [event]
    name=moveto
	[filter]
	side=1
	type=Ukian Dog
	x,y={X},{Y}
	[/filter]
	[message]
	speaker=unit
	message= _ "Woof!"
	[/message]
    [/event]
#enddef	

#define OBJ_RING_ANCIENT X Y ID
    [item]
        x={X}
        y={Y}
        image=items/ring-brown.png
    [/item]

    [event]
        name=moveto
        first_time_only=no
        [filter]
	    side=1
            x={X}
            y={Y}
	    [not]
	    type=Ukian Dog
	    [/not]
        [/filter]
        [object]
            id={ID}
            name= _ "Ancient Ring"
            image=items/ring-brown.png
            duration=forever
            description= _ "This tarnished ring gives the wearer a strength and hardiness from an age of heroes."
            cannot_use_message=_ _ _ NONE
            [filter]
                x={X}
                y={Y}
            [/filter]
            [then]
                [removeitem]
                    x,y={X},{Y}
                [/removeitem]
            [/then]
            [effect]
                apply_to=attack
		range=melee
                increase_damage=2
            [/effect]
            [effect]
                apply_to=hitpoints
                increase_total=10
            [/effect]
        [/object]
    [/event]
#enddef

#define SCARRION_HOP YOLD XNEW YNEW

        [event]
        name=attack_end
        [filter]
        side=1
        [/filter]
        [filter_second]
        id=Scarrion
        [/filter_second]
            [if]
            [filter]
            y={YOLD}
            [/filter]
            [then]
            {FLASH_BLUE (
                [teleport]
                [filter]
                id=Scarrion
                [/filter]
                x={XNEW}
                y={YNEW}
                [/teleport]
            )}
        [redraw]
        [/redraw]
        [/then]
        [/if]
        [/event]
#enddef

#define ISSPECIAL X Y
        [unit_overlay]
            x={X}
            y={Y}
            image=misc/is_special.png
        [/unit_overlay]
#enddef



#define MIN_COST_ROAD TERRAIN
    [road_cost]
        terrain={TERRAIN}
        cost=2
        convert_to={TERRAIN}
    [/road_cost]
#enddef


#define BMR_SURVIVORS TYPE VAR X Y
        [recall]
        type={TYPE}
        x,y={X},{Y}
        [/recall]
        [if]
            [have_unit]
                x,y={X},{Y}
            [/have_unit]
            [else]
                [unit]
                type={TYPE}
                side=1
                generate_name=yes
                x={X}
                y={Y}
                [/unit]
            [/else]
        [/if]
        [store_unit]
            [filter]
                side=1
                x,y={X},{Y}
            [/filter]
            kill=yes
            variable={VAR}
        [/store_unit]
#enddef

