#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="05_Payback"
	name= _ "Payback"
	map_data="{@campaigns/Bad_Moon_Rising/maps/05_Payback.map}"
	next_scenario="null"
	victory_when_enemies_defeated=no
	{TURNS 36 32 28}
	[music]
	    name="nunc_dimittis.ogg"
	[/music]


	{UNDERGROUND}
[story]
[part]
    story= _ "Scarrion lost conciousness. When he awoke, he was in the lit chamber and dressed in odd blue robes.  He jumped to his feet and noticed he felt... different.   His body was free of the usual aches and chills, he felt lighter on his toes, he felt he could conquer the world!
    The winged woman was watching him. When she saw him register her presence, she began to speak:"
[/part]
[part]
    story= _ "#  'You feel much better now, yes?'
  'Yes, who-'  
  #'We are the original occupiers of this land.  We ere here long before your kind existed, and will be here long after as well.  While you slept, we... asked... you many questions and you gave us many alarming answers.  Your colleagues are engaged in a disastrous project and must be stopped.
  'How am I to do that?'"
	[image]
	file="misc/Arella2.png"
	x,y=400,100
	[/image]
[/part]
[part]
    story= _ "#We've given you a great gift... How would you like to serve revenge to Malevan and to Bersohn?'  
    She did not wait for a reply, she already knew his answer.
    #'You will leave this mountain, rally more of your kind, and raise our sleeping kindred in the depths of a cavern to the southwest.  From there, you will assist us in saving the world from those who would destroy it. You and the faithful will bear witness to the revival of order, for we will supplant the benighted kingdoms currently smothering this land.'"
	[image]
	file="misc/Arella2.png"
	x,y=400,100
	[/image]
[/part]
[part]
    story= _ "And with that she turned and disappeared.  He was a little disturbed by some of what the winged being said, but didn't have much time to think about it. His feet seemed to know where to go, and before he knew it, he was back at Malevan's stronghold..."
[/part]
[/story]
	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Slay Malevan"
			[/objective]
			[objective]
			condition=win
			description=_ "Time runs out"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Scarrion"
			[/objective]
			note= _ "Hint: You are grossly outnumbered, don't try to wipe out the undead. Just kill the Necromancer to the southwest."
		[/objectives]
	[/event]

	[side]
	type=Dark Messiah
	id=Scarrion_B
	name= _ "Scarrion"
	side=1
	canrecruit=yes
	controller=human
	shroud=yes
	recruit=
	{GOLD 120 100 80}
	x,y=21,3
	team_name=good
#ifdef EASY
	[unit]
	type=Primeval Ironwheel
	id=Aide1
	generate_name=yes
	x,y=20,3
	[/unit]
	[unit]
	type=Primeval Striker
	id=Aide2
	generate_name=yes
	x,y=22,3
	[/unit]
#endif
#ifdef NORMAL
	[unit]
	type=Primeval Ironwheel
	id=Aide1
	generate_name=yes
	x,y=20,3
	[/unit]
	[unit]
	type=Primeval Swiftfoot
	id=Aide2
	generate_name=yes
	x,y=22,3
	[/unit]
#endif
#ifdef HARD
	[unit]
	type=Primeval Swiftfoot
	id=Aide1
	generate_name=yes
	x,y=20,3
	[/unit]
	[unit]
	type=Primeval Swiftfoot
	id=Aide2
	generate_name=yes
	x,y=22,3
	[/unit]
#endif


	[/side]

	[side]
	type=Necromancer
	id=Malevan
	name= _ "Malevan"
	side=2
	canrecruit=yes
	shroud=yes
#ifdef HARD
	recruit=Bone Shooter, Necrophage, Revenant, Wraith
#else
	recruit=Bone Shooter, Necrophage, Revenant
#endif
	{GOLD 380 440 500}
	{INCOME 6 8 10}
	team_name=bad
	[ai]
	[target]
	id=Scarrion_B
	value=200
	[/target]
	aggression=1.0
	[/ai]
	[unit]
	type=Banebow
	x,y=15,6
	[/unit]
	[unit]
	type=Wraith
	x,y=27,14
	ai_special=guardian
	[/unit]
	[unit]
	type=Draug
	x,y=13,18
	ai_special=guardian
	[/unit]
	[unit]
	type=Draug
	x,y=7,41
	ai_special=guardian
	[/unit]
	[/side]

	[side]
	type=Death Knight
	id=Guardian
	name= _ "Guardian"
	side=3
	canrecruit=yes
	shroud=yes
#ifdef HARD
	recruit=Banebow, Necrophage, Revenant, Deathblade
#else
	recruit=Bone Shooter, Necrophage, Revenant
#endif
	{GOLD 1500 1500 1500}
	{INCOME 6 8 10}
	team_name=bad
	[ai]
	aggression=1.0
	[/ai]	
	[/side]
	


	[event]
	name=prestart
	[music]
	name="vengeful.ogg"
	append=no
	[/music]
	[item]
		x,y=8,53
		image="misc/bookshelf-fullSW.png"
	[/item]
	[item]
		x,y=9,54
		image="misc/bookshelf-fullSW.png"
	[/item]
	[item]
		x,y=13,55
		image="misc/bookshelf-fullSW.png"
	[/item]
	[item]
		x,y=4,54
		image="scenery/rock1.png"
	[/item]
	[item]
		x,y=16,16
		image="scenery/rock2.png"
	[/item]
	[item]
		x,y=11,30
		image="scenery/rock2.png"
	[/item]
	[item]
		x,y=12,35
		image="scenery/rock2.png"
	[/item]
	[item]
		x,y=8,45
		image="scenery/rock2.png"
	[/item]
	[item]
		x,y=8,60
		image="scenery/trash.png"
	[/item]
	[/event]

	[event]
	name=start
	[message]
		speaker=Scarrion_B 
		message = _ "Malevan will not survive the day!"
	[/message]
	[message]
		speaker=Malevan 
		message = _ "I hear someone... Is it that weasle Scarrion, come to beg forgiveness?"
	[/message]
	[message]
		speaker=Scarrion_B 
		message = _ "I hear a familiar voice... We should take the western tunnel."
	[/message]
	[/event]

	[event]
	name=moveto
		[filter]
		id=Scarrion_B
		y=54-59
		[/filter]
		[message]
		speaker=Malevan
		message= _ "Scarrion, you've changed..."
		[/message]
		[message]
		speaker=Scarrion_B
		message= _ "I will destroy you!"
		[/message]
		[unit]
		type=Spectre
		side=2
		generate_name=yes
		x,y=6,57
		[/unit]
		[unit]
		type=Nightgaunt
		side=2
		generate_name=yes
		x,y=8,60
		[/unit]
		[unit]
		type=Banebow
		side=2
		generate_name=yes
		x,y=3,59
		[/unit]
		[redraw][/redraw]
		[message]
		speaker=Malevan
		message= _ "Ha! Not so fast..."
		[/message]
		

	[/event]		  

	[event]
	name=moveto
		[filter]
		side=1
		y=13-17
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "If we can plug the side tunnels, we will have a clearer path to victory!"
		[/message]
	[/event]		  

	[event]
	name=moveto
		[filter]
		side=1
		x,y=15,16
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "Close off the side tunnel!"
		[/message]
		[terrain]
		terrain=Xu
		x,y=17,17
		[/terrain]
		[removeitem]
		    x,y=16,16
		[/removeitem]
	[/event]		  
	[event]
	name=moveto
		[filter]
		side=1
		x,y=10,29
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "Move the rock into the tunnel."
		[/message]
		[terrain]
		terrain=Xu
		x,y=12,30
		[/terrain]
		[removeitem]
		    x,y=11,30
		[/removeitem]
	[/event]		  

	[event]
	name=moveto
		[filter]
		side=1
		x,y=11,35
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "Seal the tunnel."
		[/message]
		[terrain]
		terrain=Xu
		x,y=13,36
		[/terrain]
		[removeitem]
		    x,y=12,35
		[/removeitem]
	[/event]		  

	[event]
	name=moveto
		[filter]
		side=1
		x,y=7,45
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "Closed!"
		[/message]
		[terrain]
		terrain=Xu
		x,y=9,46
		[/terrain]
		[removeitem]
		    x,y=8,45
		[/removeitem]
	[/event]		  

	[event]
	name=die
		[filter]
		id=Scarrion_B
		[/filter]
		[message]
		speaker=Scarrion
		message= _ "How could this happen? I've just started..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	    name=die
		[filter]
		    id=Malevan
		[/filter]
		[message]
		speaker=Scarrion_B
		message= _ "Now you die!"
		[/message]
		[message]
		speaker=Malevan
		message= _ "B-but I spared your life!"
		[/message]
		[message]
		speaker=Scarrion_B
		message= _ "Only so long as I was useful. Now silence!"
		[/message]
		[message]
		speaker=Malevan
		message= _ "Ahhh!"
		[/message]
		[message]
		speaker=Scarrion_B
		message= _ "Now, to escape this cursed mountain!"
		[/message]
		[message]
		speaker=narrator
		message= _ "With the death of the necromancer, most of the undead fell back to the long sleep. Scarrion spent a few days studying the necromancer's notes, but then he had to leave the cave."
		    image=wesnoth-icon.png
		[/message]
		[message]
		speaker=narrator
		message= _ "Once outside, he realized he had no idea where he was, but the sun was setting, so he knew which direction he had to travel. General Bersohn and his ilk would pay for their scheming..."
		    image=wesnoth-icon.png
		[/message]
		[endlevel]
		result=victory 
		[/endlevel]
	[/event]

	[event]
	    name=time over
		[message]
		speaker=Scarrion_B
		message= _ "I don't feel so well, I feel a hand around my heart... They must think I'm unworthy...?"
		[/message]
		[message]
		speaker=Malevan
		message= _ "Well, I was worried for a bit. But maybe he'll make a good corpse servant."
		[/message]
		[endlevel]
		result=continue 
		[/endlevel]
	[/event]
	
[/scenario]
