#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="1_02_World"
	name= _ "Ukiah"
	map_data="{@campaigns/Bad_Moon_Rising/maps/1_02_World.map}"
	next_scenario="1_03_Camp"
	victory_when_enemies_defeated=no
	{TURNS -1 -1 -1}
	[music]
		name="breaking_the_chains.ogg"
	[/music]
#        #Introduction
#        {@campaigns/Bad_Moon_Rising/utils/rescue.cfg}

#  The idea is you are in the eastern edge of the world map.  
#  You have a head start before Burton comes after you with Cavalry.
#  If the Cavalry reaches you before you reach the forest, you loose.


	{BMR_SUMMER}
	{WORLDMAP}

	[event]
	name=prestart
		[music]
		name="breaking_the_chains.ogg"
		[/music]
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Flee to the forrest west of Gornath."
			[/objective]
			[objective]
			condition=lose
			description=_ "Get attacked by the Cavalry."
			[/objective]
			note = _ "Huric's forces keep the roads clear, but enemies lurk off-road."
		[/objectives]
	[/event]


	[side]
	type=Lieutenant
	id=Lorenzon
	name= _ "Lorenzon"
	profile=portraits/lorenzon.png
	side=1
	canrecruit=yes
	controller=human
	fog=no
	recruit=Ukian Runner, Ukian Regular, Ukian Dog
	{GOLD 200 150 100}
	{INCOME 6 4 2}
	team_name=good
	[/side]

	[side]
	type=General
	id=Burton
	name= _ "Burton"
	side=2
	canrecruit=yes
	fog=no
	recruit=
	{GOLD 100 150 200}
	team_name=bad
	[ai]
	aggression=1.0
	grouping=offensive
	passive_leader=yes
	village_value=0
	[/ai]
	[unit]
	side=2
	type=Cavalryman
	generate_name=yes
	id=Cavalry
	x,y=55,11
	[/unit]
	[/side]

	[event]
	name=prestart
	[if]
	    [variable]
		name=beenhere
		equals=no
	    [/variable]
	    [then]
		[recall]
		id=Bellos
		x=5
		y=11
		[/recall]
		[recall]
		id=Tach
		x=6
		y=11
		[/recall]
		[recall]
		id=Valos
		x=10
		y=11
		[/recall]
#   Lorenzon and the loyal soldiers become rebels
	{TRANSFORM_UNIT id=Lorenzon "Ukian Officer"}
	{TRANSFORM_UNIT id=Valos "Ukian Regular"}
	{TRANSFORM_UNIT id=Bellos "Ukian Regular"}
	{TRANSFORM_UNIT id=Tach "Ukian Runner"}
	{PUT_TO_RECALL_LIST (id=Bellos)}
	{PUT_TO_RECALL_LIST (id=Valos)}
	{PUT_TO_RECALL_LIST (id=Tach)}
#  not sure where to put this, trying to fix Lorenzon's profile
	[object]
	id=portry
	name= _ "new face"
	image=portraits/lorenzon.png
	duration=forever
	    [filter]
		id=Lorenzon
	    [/filter]
		[effect]
		apply_to=profile
		portrait=portraits/lorenzon.png
		[/effect]
	[/object]
#  end fix, seems to work
        [disallow_recruit]
        type=Peasant,Ruffian
        side=1
        [/disallow_recruit]
	[/then]
	[/if]
	[/event]

	{MAP_INIT Lorenzon Cavalry}
	{OFFROAD Lorenzon Cavalry 1}

	[event]
	name=moveto
	    [filter]
		id=Lorenzon
		x,y=96,7
	    [/filter]
	[message]
	speaker=Lorenzon
	message= _ "We should not dally here, it's time to go."
	[/message]
	[/event]

	[event]
	name=moveto
	    [filter]
		id=Lorenzon
		x=82-88
	    [/filter]
	[if]
	[variable]
	name=beencp1
	equals=no
	[/variable]
	[then]
	[message]
	speaker=Lorenzon
	message= _ "We should pay a visit to our sisters in Korkath, they will not be spared the wrath of Huric."
	[/message]
	[/then]
	[/if]
	[/event]

	[event]
	name=moveto
	first_time_only=no
	    [filter]
		id=Lorenzon
		x=1-69
	    [/filter]
	    [message]
	    speaker=Lorenzon
	    message= _ "If a large Orcish force is attacking Fort Kuhle, it is unwise to keep wandering in this direction..."
	    [/message]
	[/event]

	[event]
	name=moveto
	first_time_only=no
	    [filter]
		id=Lorenzon
		y=22-75
	    [/filter]
	    [message]
	    speaker=Lorenzon
	    message= _ "We are headed straight for Huric. Let's turn back..."
	    [/message]
	[/event]

	[event]
	name=moveto
	    [filter]
		id=Lorenzon
		x=72-75
		y=6-11
	    [/filter]
	    [message]
	    speaker=Lorenzon
	    message= _ "The people are tired, we should set up camp here. I hope they don't find us..."
	    [/message]
	    [set_variable]
		name=beencp1
		value=no
	    [/set_variable]
	    [set_variable]
		name=beenhere
		value=no
	    [/set_variable]
		[endlevel]
		result=continue
		[/endlevel]
	[/event]

	[event]
	name=moveto
	    [filter]
		id=Lorenzon
		x,y=87,13
	    [/filter]
	[if]
	[variable]
	name=beencp1
	equals=no
	[/variable]
	[then]
	[message]
	speaker=Lorenzon
	message= _ "Maybe we can st-  What have we here?"
	[/message]
	{XYSAVE2 Lorenzon hero}
	{XYSAVE2 Cavalry other1}
	    [set_variable]
		name=beencp1
		value=yes
	    [/set_variable]
	    [endlevel]
		result=continue
		next_scenario=1_02_Rescue
	    [/endlevel]
	[/then]
	[/if]
	[/event]


	[event]
	name=die
		[filter]
		id=Lorenzon
		[/filter]
		[message]
		speaker=second_unit
		message= _ "THAT is what happens to traitors!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Duval
		[/filter]
		[message]
		speaker=unit
		message= _ "We had just started..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=attack
		[filter]
		id=Cavalry
		[/filter]
		[message]
		speaker=unit
		message= _ "It's them! Charge!!"  
		[/message]
		[message]
		id=unit
		message= _ "Give my regards to Lieutenant Cantwell, traitor!"
		[/message]
		[message]
		id=Lorenzon
		message= _ "(Gulp!)"
		[/message]
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]
	
[/scenario]
