#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="1_03_Camp"
	name= _ "Camp"
	map_data="{@campaigns/Bad_Moon_Rising/maps/1_03_Camp.map}"
	next_scenario="1_04_World"
	victory_when_enemies_defeated=yes
	{TURNS 38 34 30}
	{SCENARIO_MUSIC "battle.ogg"}

    [story]
	[part]
	    story= _ "The forrest afforded the rebels some cover and rest, but it was not to last..."
	[/part]
    [/story]
	
	{BMR_SUMMER}

	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Kill Enemy Leaders"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Lorenzon"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Duval"
			[/objective]
			[objective]
			condition=lose
			description=_ "Loyalists make it across the river 3 times"
			[/objective]
		[/objectives]
	[/event]

	[side]
	type=Lieutenant
	id=Lorenzon
	name= _ "Lorenzon"
	side=1
	canrecruit=yes
	controller=human
	fog=yes
	recruit=Ukian Runner, Ukian Regular, Ukian Dog
	{GOLD 450 400 350}
	team_name=good
	[/side]

	[side]
	type=General
	id=General Burton
	name= _ "General Burton"
	profile="portraits/burton.png"
	side=2
	canrecruit=yes
	fog=yes
#ifdef HARD
	recruit=Spearman, Bowman, Cavalryman, Horseman
#else
	recruit=Bowman, Cavalryman, Horseman
#endif
	{GOLD 450 550 650}
	team_name=bad
	[ai]
	aggression=0.6
	grouping=offensive
        recruitment_pattern=fighter,archer,scout
	[/ai]
	[/side]

	[side]
	type=Rogue
	id=Carson
	name= _ "Carson"
	side=3
	canrecruit=yes
	fog=yes
	recruit=Thief, Ruffian
	{GOLD 100 120 140}
	team_name=bad
	[ai]
	aggression=0.1
	grouping=offensive
	[/ai]
	[/side]

	[side]
	type=Ukian Runner
	id=Tenvan
	name= _ "Tenvan"
	profile=portraits/runner_alt.png
	side=4
	canrecruit=yes
	fog=yes
	recruit=Ukian Dog
	{GOLD 120 100 80}
	team_name=good
	[ai]
	aggression=0.4
	grouping=defensive
        recruitment_pattern=scout
	[/ai]
	[unit]
	type=Ukian Dog
	x,y=23,25
	[/unit]
	[unit]
	type=Ukian Dog
	x,y=23,27
	[/unit]
	[unit]
	type=Ukian Dog
	x,y=23,29
	[/unit]
	[/side]

	[event]
	name=prestart
		[recall]
		id=Duval
		x,y=46,13
		[/recall]
		[recall]
		id=Raenna
		x,y=46,11
		[/recall]
#	[set_variable]
#		name=enemy_pass
#		value=0
#	[/set_variable]
	[/event]

	[event]
	name=start
	[message]
	speaker=narrator
	message= _ "Grrrr... (whine)"
	caption= _ "Dog"
	image="portraits/dog.png"
	[/message]
	[message]
	speaker=Raenna
	message= _ "The dogs are upset about something..."
	[/message]
	[message]
	speaker=narrator
	message= _ "Grrrr! Woof!-Woof!-Woof! Grrrrrrr!"
	caption= _ "Dog"
	image="portraits/dog.png"
	[/message]
	[message]
	speaker=narrator
	message= _ "Dammit! We've been caught, run for it!"
	caption= _ "Spy"
	image="portraits/Nicholas_Kerpan/human-thief.png"
	[/message]
	[move_unit_fake]
	type=Thief
	x=50,43,34
	y=13,15,12
	side=3
	[/move_unit_fake]
	[move_unit_fake]
	type=Thief
	x=49,44,34
	y=15,15,13
	side=3
	[/move_unit_fake]


	[message]
		speaker=Duval 
		message = _ "Assassins?"
	[/message]
	[message]
		speaker=Lorenzon 
		message = _ "I don't think so - wait! I hear voices carried to us on the wind..."
	[/message]
	[scroll_to]
	x,y=5,21
	[/scroll_to]
	[delay]
	time=500
	[/delay]

	[message]
		speaker=Carson 
		message = _ "It's them alright. Just like I said."
	[/message]
	[message]
		speaker=General Burton
		message = _ "What can you tell me of their defenses?"
	[/message]
	[message]
		speaker=Carson 
		message = _ "We weren't able to get a head count before the dogs flushed us out. But from the size of the camp, I'd say no more than a hundred."
	[/message]
	[message]
		speaker=General Burton
		message = _ "I can crush them if that's true, but you don't really know, do you? I hired you to discover their strength and position of forces... Instead you've alerted them to our presence..."  
	[/message]
	[message]
		speaker=Carson 
		message = _ "We did as you asked, it's not our fault they have guard dogs. Now where's our money?"
	[/message]
	[message]
		speaker=General Burton
		message = _ "Your money!? You little hussy, I oughta strike you down where you stand! Luckily for you, you're still needed. Whether they be one hundred or one hundrerd thousand, we cannot let these vipers escape to spread their poison. I'll pay you when you've helped us round them all up: 100 gold crowns to the man who brings me Lorenzon's head, 1,000 crowns for the mage!"
	[/message]
	[message]
		speaker=Lorenzon 
		message = _ "Sounds like we've got company. They'll play it safe until they find out how small our numbers are. Tenvan and his dogs might be able to hold them at the river fort for a few hours, but we need to get soldiers to the front as fast as possible in a show of force! (And pray they don't call our bluff...)"
	[/message]
	[message]
		speaker=Duval 
		message = _ "Yes, to arms!"
	[/message]
	[/event]

	[event]
	name=die
		[filter]
		id=Tenvan
		[/filter]
		[message]
		speaker=unit
		message= _ "I did what I could (gasp!). Look after my dogs..."
		[/message] 
	[/event]

	[event]
	name=die
		[filter]
		id=Lorenzon
		[/filter]
		[message]
		speaker=General Burton
		message= _ "THAT is what happens to traitors!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Duval
		[/filter]
		[message]
		speaker=unit
		message= _ "We had just started..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		id=General Burton
		[/filter]
		[message]
		speaker=unit
		message= _ "Lorenzon, you traitor... Why'd you do it? ... What in heaven's name did... did he... -COUGH- he tell... ..."
		[/message] 
		[message]
		speaker=Lorenzon
		message= _ "It pains me to no end to be called a traitor, I fight for Ukiah! Huric's the traitor!"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "(Burton's dying words were a bit odd, I wonder what he was trying to say...)"
		[/message]
		[message]
		speaker=Carson
		message= _ "General Burton has fallen! Let's get out of here!"
		[/message]
		[message]
		speaker=Duval
		message= _ "This camp has been discovered. We cannot continue hiding here, we need to take a bold action."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "What would you suggest?"
		[/message]
		[message]
		speaker=Duval
		message= _ "If we can take Fort Kuhle, we will have a defensible base of operations. It will also be a powerful signal to the people of Ukiah."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "That will not be so easy, but we do need to do something."
		[/message]
		[endlevel]
		result=victory
		[/endlevel]
	[/event] 

	[event]
	name=time over
		[music]
		name=loyalists.ogg
		append=no
		[/music]
		[message]
		id=General Burton
		message= _ "Ah, the Prince's forces are here. It's over, traitors!"
		[/message]
		[message]
		id=Lorenzon
		message= _ "Arg! He's right, we're screwed!"
		[/message]
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]

	[event]
	name=moveto
	first_time_only=no
		[filter]
		side=2
		x=27-35
		[/filter]
	{VARIABLE_OP enemy_pass add 1}
	[if]
		[variable]
		name=enemy_pass
		numerical_equals=1
		[/variable]
	    [then]
	[message]
	speaker=unit
	message= _ "Ha! Their defenses are not so strong here!"
	[/message]
	[message]
	speaker=General Burton
	message= _ "I see, good to know."
	[/message]
	    [/then]
	    [else]
		[if]
		[variable]
		name=enemy_pass
		numerical_equals=2
		[/variable]
	    		[then]
	[message]
	speaker=unit
	message= _ "I was able to get through!"
	[/message]
	[message]
	speaker=General Burton
	message= _ "Good work!"
	[/message]
	[message]
	speaker=Lorenzon
	message= _ "(He's probing our defensive line, he doesn't know how few fighters we have. If one more of those soldiers gets past, he'll figure it out.)  Don't let them through!"
	[/message]
	    		[/then]
		[/if]
	    [/else]
	    [else]
		[if]
		[variable]
		name=enemy_pass
		numerical_equals=3
		[/variable]
	    		[then]
	[message]
	speaker=unit
	message= _ "I made it through!"
	[/message]
	[message]
	speaker=General Burton
	message= _ "Music to my ears!"
	[/message]
	[message]
	speaker=General Burton
	message= _ "The disorganized peasants cannot even mount a proper defense! You know what to do men-"
	[/message]
	[message]
	speaker=Lorenzon
	message= _ "Wait! If you want to end this rebellion, show mercy and let these people live! I will surrender and come with you to face justice."
	[/message]
	[message]
	speaker=General Burton
	message= _ "It's too late for that and you know it! As we speak, your fellow conspirators are meeting justice at the end of a blade..."
	[/message]
		[endlevel]
		result=defeat
		[/endlevel]
	    		[/then]
		    [/if]
	    [/else]		    
	[/if]
	[/event]
[/scenario]
