###################################################################
# This collection of macro calls is where the skirmish scenarios are actually put together
# There are currently three terrain types used
###################################################################
############## This file is for Part III
###############################################################

#######################################################################
# These are for the trip between Trouble and Mine Mouth
# Hills
	{BMR_SKIRMISH_START Hills1 Lorenzon "Orcish Grunt" 2_02_World (
		{BMR_DAYSHORT}
		{SK_GENERATOR_HILLS}
	    [event]
		name=prestart
		{BMR_SK_MASK_2 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 5 1}
	    {BMR_SKIRMISH_TALK Lorenzon Belleros}
	)}
# Snow
	{BMR_SKIRMISH_START Snow1 Lorenzon "Orcish Assassin" 2_02_World (
		{BMR_DAYSHORT}
		{SK_GENERATOR_SNOW}
	    [event]
		name=prestart
		{BMR_SK_MASK_3 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 4 1}
	    {BMR_SKIRMISH_TALK Lorenzon Belleros}
	)}
# Woods
	{BMR_SKIRMISH_START Woods1 Lorenzon "Orcish Warrior" 2_02_World  (
		{BMR_DAYSHORT}
		{SK_GENERATOR_HILLS}
	    [event]
		name=prestart
		{BMR_SK_MASK_1 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 4 2}
	    {BMR_SKIRMISH_TALK Lorenzon Raenna}
	)}
# Astreya / Road
	{BMR_SKIRMISH_START Astreya1 Lorenzon "Phantom Queen" 2_02_World (
		{BMR_FIRST_WATCH}
		{SK_GENERATOR_ROAD}
	    [event]
		name=prestart
# make this a different mask
		{BMR_SK_MASK_4 Lorenzon}
		[recall]
		id=Raenna
		[/recall]
		[recall]
		id=Belleros
		[/recall]
		[recall]
		id=Carghanna
		[/recall]
		{MODIFY_UNIT type="Phantom Queen" name Astreya}
	    [/event]
	) (
	    [event]
	        name=start
		[music]
		name="the_deep_path.ogg"
	        append=no
		immediate=yes
		[/music]
		[modify_side]
		side=1
		fog=yes
		[/modify_side]
		[modify_side]
		side=2
		    [ai]
			aggression=0.9
			caution=0.4
			[leader_goal]
# fix this
			x,y=20,20
			[/leader_goal]
		    [/ai]
		[/modify_side]
		[message]
		speaker=Raenna
		message= _ "This thick fog blots out all light from the sky."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "I have a bad feeling about this."
		[/message]
		[message]
		speaker=Leader
		message= _ "As well you should..."
		[/message]
		
	    [/event]

	    {BMR_SKIRMISH_FOES 10 1}
	)}


####################################################################################
# These are for the trip between MineMouth and Fundraising, Fundraising and Pit
# Hills
	{BMR_SKIRMISH_START Hills2 Lorenzon "Orcish Warrior" 2_03_World (
		{BMR_DAYSHORT}
		{SK_GENERATOR_HILLS}
	    [event]
		name=prestart
		{BMR_SK_MASK_1 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 5 3}
	    {BMR_SKIRMISH_TALK Lorenzon Duval}
	)}
# Snow
	{BMR_SKIRMISH_START Snow2 Lorenzon "Orcish Slayer" 2_03_World (
		{BMR_DAYSHORT}
		{SK_GENERATOR_SNOW}
	    [event]
		name=prestart
		{BMR_SK_MASK_2 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 3 3}
	    {BMR_SKIRMISH_TALK Lorenzon Duval}
	)}
# Woods
	{BMR_SKIRMISH_START Woods2 Lorenzon "Orcish Crossbowman" 2_03_World (
		{BMR_DAYSHORT}
		{SK_GENERATOR_HILLS}
	    [event]
		name=prestart
		{BMR_SK_MASK_3 Lorenzon}
	    [/event]
	) (
	    {BMR_SKIRMISH_FOES 4 4}
	    {BMR_SKIRMISH_TALK Lorenzon Raenna}
	)}
# Astreya / Road
	{BMR_SKIRMISH_START Astreya2 Lorenzon "Phantom Queen" 2_03_World (
		{BMR_FIRST_WATCH}
		{SK_GENERATOR_ROAD}
	    [event]
		name=prestart
# make this a different mask
		{BMR_SK_MASK_4 Lorenzon}
		[recall]
		id=Raenna
		[/recall]
		[recall]
		id=Belleros
		[/recall]
		[recall]
		id=Carghanna
		[/recall]
		{MODIFY_UNIT type="Phantom Queen" name Astreya}
	    [/event]
	) (
	    [event]
	        name=start
		[music]
		name="the_deep_path.ogg"
	        append=no
		immediate=yes
		[/music]
		[modify_side]
		side=1
		fog=yes
		[/modify_side]
		[modify_side]
		side=2
		    [ai]
			aggression=0.9
			caution=0.4
			[leader_goal]
# fix this
			x,y=20,20
			[/leader_goal]
		    [/ai]
		[/modify_side]
		[message]
		speaker=Raenna
		message= _ "This thick fog blots out all light from the sky."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "I have a bad feeling about this."
		[/message]
		[message]
		speaker=Leader
		message= _ "As well you should..."
		[/message]
		
	    [/event]

	    {BMR_SKIRMISH_FOES 10 1}
	)}
#####################################################################
# These are for between Checkpoint and Tien - not working yet
#
# Hills
#	{BMR_SKIRMISH_START Hills3 Belleros "Orcish Warrior" 2_04_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_HILLS}
#	    [event]
#		name=prestart
#		{BMR_SK_MASK_3 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 5 3}
#	    {BMR_SKIRMISH_TALK Belleros ??????}
#	)}
# Snow
#	{BMR_SKIRMISH_START Snow3 Belleros "Primeval Striker" 2_04_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_SNOW}
#	    [event]
#		name=prestart
#		{BMR_SK_MASK_1 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 4 2}
#	    {BMR_SKIRMISH_TALK Lorenzon Duval}
#	)}
# Woods
#	{BMR_SKIRMISH_START Woods3 Belleros "Orcish Slayer" 2_04_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_HILLS}
#	    [event]
#		name=prestart
#		{BMR_SK_MASK_2 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 4 4}
##	    {BMR_SKIRMISH_TALK Lorenzon Raenna}
#	)}
#
#####################################################################
# These are for between Tien and Orcs - not working

# Hills
#	{BMR_SKIRMISH_START Hills4 Belleros "Orcish Warrior" 2_06_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_HILLS}
#	    [event]
#		name=prestart
#		{SKIRMISH_MASK_1 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 5 4}
#	    {BMR_SKIRMISH_TALK Belleros "Hrala Gareth"}
#	)}
# Snow
#	{BMR_SKIRMISH_START Snow4 Lorenzon "Primeval Driver" 2_06_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_SNOW}
#	    [event]
#		name=prestart
#		{SKIRMISH_MASK_1 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 4 4}
#	    {BMR_SKIRMISH_TALK Belleros "Grat Gareth"}
#	)}
# Woods
#	{BMR_SKIRMISH_START Woods4 Belleros "Ophis" 2_06_World (
#		{BMR_DAYSHORT}
#		{SK_GENERATOR_HILLS}
#	    [event]
#		name=prestart
#		{SKIRMISH_MASK_1 Belleros}
#	    [/event]
#	) (
#	    {BMR_SKIRMISH_FOES 4 5}
#	    {BMR_SKIRMISH_TALK Belleros "Hrala Gareth"}
#	)}
#
#
# TO DO: Orcs-Teora, Teora-Gate

################### This is the end of Part II #####################
