#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="1_04_Fort"
	name= _ "Fortress"
	map_data="{@campaigns/Bad_Moon_Rising/maps/1_04_Fort.map}"
	next_scenario="1_05_Defend"
	victory_when_enemies_defeated=yes
	{TURNS 32 28 24}
	{SCENARIO_MUSIC "knolls.ogg"}
	
	{BMR_SUMMER}

	[story]
	[part]
	    story= _ "Taking Fort Kuhle was not going to be easy, many would die if it had to be done with force.  If Lorenzon could convince the commanding officer to defect, not only would bloodshed be averted, but it would be another powerful symbol of the crumbling of Huric's power."
	    background="misc/BMRtundra.png"
	[/part]
	[/story]

	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Defeat Enemy Leader"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Lorenzon"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Duval"
			[/objective]
			[objective]
			condition=lose
			description=_ "Time Runs Out"
			[/objective]
		[/objectives]
	[/event]

	[side]
	type=Lieutenant
	id=Lorenzon
	name= _ "Lorenzon"
	side=1
	canrecruit=yes
	controller=human
	fog=no
	recruit=Ukian Runner, Ukian Regular, Ukian Dog
	{GOLD 450 400 350}
	team_name=good
	[/side]

	[side]
	type=General
	id=General Drago
	name= _ "General Drago"
	profile="portraits/drago.png"
	side=2
	canrecruit=yes
	fog=no
#ifdef HARD
	recruit=Cavalryman, Horseman, Spearman, Bowman, Heavy Infantryman
#else
	recruit=Cavalryman, Spearman, Bowman, Heavy Infantryman
#endif
	{GOLD 400 500 600}
	{INCOME 8 12 16}
	team_name=bad
	[ai]
	aggression=0.6
	grouping=offensive
        recruitment_pattern=fighter,fighter,archer,scout
	protect_leader=3.0
	protect_leader_radius=5.
	[protect_location]
	x,y=19,13
	radius=4
	value=20.
	[/protect_location]
	[protect_location]
	x,y=11,12
	radius=4
	value=20.
	[/protect_location]
	[/ai]
	[unit]
	type=Pikeman
	id=Rhent
	name= _ "Rhent"
	x,y=17,13
	ai_special=guardian
	[/unit]
	[unit]
	type=Pikeman
	id=Thren
	name= _ "Thren"
	x,y=21,13
	ai_special=guardian
	[/unit]
	[/side]

	[event]
	name=prestart
		[recall]
		id=Duval
		x=14
		y=36
		[/recall]
		[recall]
		id=Raenna
		x,y=15,36
		[/recall]
	[/event]

	[event]
	name=start
	[message]
		speaker=Lorenzon 
		message = _ "(Our best bet is to create an opening near the west wall and-"
	[/message]
	[message]
		speaker=Thren
		message = _ "Halt! Who goes there?"
	[/message]
	[message]
		speaker=Lorenzon 
		message = _ "(Get down!)"
	[/message]
	[message]
		speaker=General Drago 
		message = _ "Not saying, eh? We're under attack! To arms!"
	[/message]
	[/event]

	[event]
	name=moveto
		[filter]
		side=1
		y=1-13
		[/filter]
		[message]
		speaker=General Drago
		message= _ "So Lorenzon, you're leading a nativist rebellion! And after all we've done for you!"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "No, this is not a 'nativist rebellion'. Huric is running this kingdom into the ground. Join us in the fight to save Ukiah!"
		[/message]
		[message]
		speaker=General Drago
		message= _ "Oh sure -(spit)-! I'll agree Huric could do better, but he's King and the source of all strength and stability. With Huric gone, you'd feed us to the orcs. I'm not stupid-"
		[/message]
		[message]
		speaker=General Drago
		message= _ "And I'm not going to tell Huric that I lost Fort Khule!!"
		[/message]
		[message]
		speaker=General Drago
		message= _ "Rally men!!! Don't let them through!"
		[/message]
	[/event]
		
	[event]
	name=die
		[filter]
		id=Lorenzon
		[/filter]
		[message]
		speaker=General Drago
		message= _ "THAT is what happens to traitors!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Duval
		[/filter]
		[message]
		speaker=unit
		message= _ "We had just started..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Raenna
		[/filter]
		[message]
		speaker=unit
		message= _ "Why did I follow this fool..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		id=General Drago
		[/filter]
		[message]
		speaker=unit
		message= _ "Traitor..."
		[/message] 
		[message]
		speaker=Lorenzon
		message= _ "Wait! Don't kill him! General, we need to talk."
		[/message]
		[message]
		speaker=unit
		message= _ "There's nothing to talk about, you'll never take me alive!"
		[/message] 
		[message]
		speaker=narrator
		message= _ "Drago made a sudden movement and was dealt a fatal blow before he could follow through."  
		    image=wesnoth-icon.png
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "News of this will spread, we need to get ready to fend off an assault as soon as possible."
		[/message]
		[message]
		speaker=Duval
		message= _ "We need to let Huric know we are serious. Send him the severed head of his underling!"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "You mean General Drago!? What did he do to deserve that, and what could we possibly hope to gain from such an action?"
		[/message]
		[message]
		speaker=Duval
		message= _ "I know how it appears, but Huric is a beast and only speaks a certain language. Trust me, I've had to deal with it for years..."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "I don't know Minister, isn't capturing the fort message enough?"
		[/message]
		[message]
		speaker=Duval
		message= _ "You cannot get cold feet now, Lorenzon. The people you lead have committed to a noble cause, you cannot let them down. You do not have that right."  
		[/message]
		[message]
		speaker=Duval
		message= _ "We'll need to inspire the people while the rage is hot and momentum is on our side! Provoking Huric into a rage will cause him to make mistakes. Hunkering down in this fort and running guerilla skirmishes is a recipe for a slow defeat."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "(Hmm, if you say so...)"
		[/message]
		[endlevel]
		result=victory
		[/endlevel]
	[/event] 

	[event]
	name=time over
		[music]
		name=loyalists.ogg
		append=no
		[/music]
		[message]
		id=General Drago
		message= _ "Ah, the Prince's forces are here. It's over, traitors!"
		[/message]
		[message]
		id=Lorenzon
		message= _ "Arg! He's right, we're screwed!"
		[/message]
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]
	
[/scenario]
