#textdomain wesnoth-Bad_Moon_Rising
[scenario]
	id="1_10_NewHome"
	name= _ "A New Home"
	map_data="{@campaigns/Bad_Moon_Rising/maps/1_10_OldFriend.map}"
	next_scenario="1_10_Epilogue.png"
	victory_when_enemies_defeated=no
	{TURNS 62 52 44}
	{SCENARIO_MUSIC "wanderer.ogg"}

# Plan:  Ukians come from the north, clear out Undead.  Orcs and Astreya are not far behind.  
# When Ukians gain control of Undead keep, a courrier comes running from the NW with a message.  
# He is ambushed by Scarrion, a brief narrator dialogue ensues.  The courrier brings forth a body 
# in blue robes, so they think Scarrion is dead, but the courrier is really Scarrion and the body 
# is really the courrier.  Elves eventually bring an MoL up from the south to banish Astreya.  
# When Orcs are defeated, player wins.  Scarrion has infiltrated the Ukians, but that is for Part III.
	{BMR_WINTER}


	[event]
	name=prestart
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Defeat Undead Leader, move to his keep."
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Lorenzon"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Belleros"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Raenna"
			[/objective]
			[objective]
			condition=lose
			description=_ "Stray into the Southern Forest"
			[/objective]
			[objective]
			condition=lose
			description=_ "Time runs out"
			[/objective]
		[/objectives]
	[/event]

	[side]
	type=Lieutenant
	id=Lorenzon
	name= _ "Lorenzon"
	side=1
	canrecruit=yes
	controller=human
	fog=yes
	recruit=Ukian Runner, Ukian Regular, Ukian Archer, Ukian Dog
	{GOLD 250 200 150}
	team_name=good
	[/side]

	[side]
	type=Orcish Sovereign
	id=Tank Skoro
	name= _ "Tank Skoro"
	side=2
	canrecruit=yes
	fog=yes
#ifdef HARD
	recruit=Orcish Slayer, Orcish Crossbowman, Goblin Pillager, Orcish Grunt, Orcish Archer, Wolf Rider
#else
	recruit=Orcish Grunt, Orcish Assassin, Orcish Archer, Wolf Rider
#endif
	{GOLD 450 550 650}
	{INCOME 4 6 8}
	team_name=orc
	[ai]
	aggression=0.9
	caution=0.8
	grouping=offensive
#        recruitment_pattern=fighter,archer,scout
# Stay away from filler and elves
	[avoid]
	x,y=1-15,1-50
	[/avoid]
	[avoid]
	x,y=16-50,41-50
	[/avoid]
	[/ai]
	[/side]

	[side]
	type=Ancient Lich
	id=Kel Odan
	name= _ "Kel Odan"
	side=3
	canrecruit=yes
	fog=yes
#ifdef EASY
	recruit=Skeleton Archer, Skeleton, Ghost
#else
	recruit=Ghoul, Dark Adept, Skeleton, Skeleton Archer, Ghost
#endif
	{GOLD 320 220 120}
	{INCOME 8 6 4}
	team_name=bad
	[ai]
	aggression=0.7
	grouping=offensive
        recruitment_pattern=fighter,fighter,archer
	[avoid]
	x,y=1-50,38-50
	[/avoid]
	[/ai]
	[/side]

	[side]
	type=Elvish Marshal
	id=Valeron
	name= _ "Valeron"
	side=4
	canrecruit=yes
	fog=no
	recruit=Elvish Archer, Elvish Fighter, Elvish Scout, Elvish Shaman
	{GOLD 320 220 120}
	{INCOME 8 6 4}
	team_name=good
	[ai]
	aggression=0.0
	grouping=defensive
        recruitment_pattern=fighter,scout,healer,archer
	[/ai]
	[unit]
	type=Elvish Marksman
	id=Guard1
	name= _ "Guard"
	x,y=1,33
	[/unit]
	[unit]
	type=Elvish Hero
	id=Guard2
	name= _ "Guard"
	x,y=5,33
	[/unit]
	[unit]
	type=Elvish Marksman
	id=Guard3
	name= _ "Guard"
	x,y=9,33
	[/unit]
	[unit]
	type=Elvish Hero
	id=Guard4
	name= _ "Guard"
	x,y=13,33
	[/unit]
	[unit]
	type=Elvish Marksman
	id=Guard5
	name= _ "Guard"
	x,y=17,33
	[/unit]
	[/side]

	[side]
	type=Phantom Queen
	id=Astreya
	name= _ "Astreya"
	side=5
	canrecruit=yes
	fog=no
	recruit=Phantom Spearman, Ghost
	{GOLD 300 400 500}
	{INCOME 4 6 8}
	team_name=ghost
	[ai]
	aggression=0.9
	grouping=offensive
#        recruitment_pattern=fighter,scout,healer,archer
	[target]
	side=1
	value=500
	[/target]
	[target]
	side=2
	value=500
	[/target]
	[/ai]
	[/side]

	[event]
	name=prestart
	{VARIABLE elfsafe 0}
	[recall]
	id=Raenna
	x,y=34,10
	[/recall]
	[recall]
	id=Belleros
	x,y=36,10
	[/recall]
	[item]
        x=29
        y=37
        image=scenery/signpost.png
        [/item]
	[item]
        x=34
        y=18
        image=scenery/pine1.png
        [/item]
	[item]
        x=42
        y=24
        image=scenery/snowbits.png
        [/item]
	[item]
        x=27
        y=30
        image=scenery/trash.png
        [/item]
	[item]
        x=28
        y=33
        image=scenery/trash.png
        [/item]
	[role]
	role=Scout
	type=Ukian Commando, Ukian Courrier, Ukian Runner
	[/role]
	[recall]
	role=Scout
	x,y=35,12
	[/recall]
	[store_unit]
	    [filter]
		id=Valeron
	    [/filter]
	    kill=yes
	    variable=valeron
	[/store_unit]
	[store_unit]
	    [filter]
		id=Guard1
	    [/filter]
	    kill=yes
	    variable=guard1
	[/store_unit]
	[store_unit]
	    [filter]
		id=Guard2
	    [/filter]
	    kill=yes
	    variable=guard2
	[/store_unit]
	[store_unit]
	    [filter]
		id=Guard3
	    [/filter]
	    kill=yes
	    variable=guard3
	[/store_unit]
	[store_unit]
	    [filter]
		id=Guard4
	    [/filter]
	    kill=yes
	    variable=guard4
	[/store_unit]
	[store_unit]
	    [filter]
		id=Guard5
	    [/filter]
	    kill=yes
	    variable=guard5
	[/store_unit]        
	[store_unit]
	    [filter]
		id=Tank Skoro
	    [/filter]
	    kill=yes
	    variable=tank_skoro
	[/store_unit]        
	[store_unit]
	    [filter]
		id=Astreya
	    [/filter]
	    kill=yes
	    variable=astreya
	[/store_unit]        
	[/event]

	[event]
	name=start
	[message]
		role=Scout 
		message = _ "It gets warmer further south, but there is something strange about the forests."
	[/message]
	[message]
		speaker=Belleros
		message = _ "What do you mean by 'strange'?"
	[/message]
	[message]
		role=Scout
		message = _ "I would see movement from the corner of my eye, but could never get a direct sighting.  I felt I was being watched.  Also, the dogs didn't come back, it's as if they were just swallowed by the woods."
	[/message]
	[message]
		speaker=Lorenzon 
		message = _ "So, the woods are inhabitted by something or someone that may prey upon us.  We should avoid going any further down the road until we know this land better.  We haven't seen any orcs in a while, this looks like a good place to settle for now-"
	[/message]
	[message]
		speaker=Kel Odan 
		message = _ "No settling! We've noticed you scampering around, you'll make fine subjects..."
	[/message]
	[message]
		speaker=Lorenzon 
		message = _ "Undead! Well, we know how to deal with those.  Let us clear this land of their foul presence.  The orcs are not far behind us, but that old fortress that the Undead occupy looks like a defensible position, so I think we'll be all right.   Remember, stay out of the southern forest- we don't know what's down there and we don't need any more enemies."
	[/message]
	[message]
		speaker=Raenna
		message = _ "Yes, sir!"
	[/message]
	[message]
		speaker=Belleros
		message = _ "Yessir!"
	[/message]
	[message]
		speaker=Kel Odan 
		message = _ "Fools..."
	[/message]
	[/event]

# Ukians must clear Undead first
	[event]
	name=moveto
	    [filter]
		side=1
		x,y=1-40,40-50
	    [/filter]
	[if]
	    [variable]	
		name=elfsafe
		numerical_equals=0
	    [/variable]
	    [then]
	[unstore_unit]
	variable=valeron
	[/unstore_unit]
	[unstore_unit]
	variable=guard1
	[/unstore_unit]
	[unstore_unit]
	variable=guard2
	[/unstore_unit]
	[unstore_unit]
	variable=guard3
	[/unstore_unit]
	[unstore_unit]
	variable=guard4
	[/unstore_unit]
	[unstore_unit]
	variable=guard5
	[/unstore_unit]
	[redraw][/redraw]
	[message]
	speaker=Valeron
	message= _ "Tresspassers die!"
	[/message]
	[endlevel]
	result=defeat
	[/endlevel]
	    [/then]
	[/if]
	[/event]

	[event]
	name=die
		[filter]
		id=Lorenzon
		[/filter]
		[message]
		speaker=Kel Odan
		message= _ "More death!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Belleros
		[/filter]
		[message]
		speaker=Kel Odan
		message= _ "More death!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Raenna
		[/filter]
		[message]
		speaker=Kel Odan
		message= _ "More death!"
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]
	[event]
	name=die
		[filter]
		id=Tank Skoro
		[/filter]
		[message]
		speaker=unit
		message= _ "How is this..."
		[/message] 
		[message]
		speaker=Raenna
		message= _ "The orcs flee..."
		[/message] 
		[message]
		speaker=Valeron
		message= _ "You fended off the orcs, defeated the undead.  If you truely have no intentions upon our woods, you may stay here on the arable plains."
		[/message] 
		[endlevel]
		    result=victory
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		id=Kel Odan
		[/filter]
		[message]
		speaker=unit
		message= _ "IEEEeeee...."
		[/message] 
		[message]
		speaker=Lorenzon
		message= _ "Good riddence. Some cleaning up to do, but the old keep should serve as a base camp."
		[/message]
		{VARIABLE_OP elfsafe add 1}
	[unstore_unit]
	variable=valeron
	[/unstore_unit]
	[unstore_unit]
	variable=guard1
	[/unstore_unit]
	[unstore_unit]
	variable=guard2
	[/unstore_unit]
	[unstore_unit]
	variable=guard3
	[/unstore_unit]
	[unstore_unit]
	variable=guard4
	[/unstore_unit]
	[unstore_unit]
	variable=guard5
	[/unstore_unit]
	[redraw][/redraw]
		[message]
		speaker=Valeron
		message= _ "Well, that's a good start.  Who are you?"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "We are refugees from the north, we mean you no harm.  Who are you?"
		[/message]
		[message]
		speaker=Valeron
		message= _ "We live here.  In peace when we can, but we defend this forest as we must...  What are your intentions?"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "Only to live in peace...  We flee the orcs, who wish us dead.  But we have no designs upon your woods."
		[/message]
		[message]
		speaker=Valeron
		message= _ "Orcs...  We are none too fond of them either..." 
		[/message]
		[unstore_unit]
		    variable=tank_skoro
		[/unstore_unit]
		{GENERIC_UNIT 2 "Orcish Warrior" 33 9}		
		{GENERIC_UNIT 2 "Orcish Warrior" 37 9}		
		{GENERIC_UNIT 2 "Orcish Warrior" 34 10}		
		{GENERIC_UNIT 2 "Orcish Warrior" 36 10}		
		[message]
		speaker=Tank Skoro
		message= _ "Haha!  The cowardly dogs have made friends with the tree-huggers!  I claim this land!  Skoro Banner will take the strong wood of the forest and pick the metal off the bodies of the cowards...  None shall dare challenge us ever again!"
		[/message]
		[message]
		speaker=Belleros
		message= _ "Speak of the devils..."
		[/message]
		[store_unit]
		    [filter]
		    	id=Lorenzon
		    [/filter]
		    kill=no
		    variable=lorenzon
		[/store_unit]
		[if]
		    [variable]
			name=lorenzon.y
			less_than=12
		    [/variable]
		    [then]
			[message]
		        speaker=Lorenzon
			message= _ "I knew they were coming, why did I sit here?"
			[/message]
			[endlevel]
			result=defeat
			[/endlevel]
	            [/then]
		[/if]
		[objectives]
		side=1
			[objective]
			condition=win
			description=_ "Defeat Orcish Pursuers"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Lorenzon"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Belleros"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Raenna"
			[/objective]
			[objective]
			condition=lose
			description=_ "Time runs out"
			[/objective]
		[/objectives]
	[/event] 

	[event]
	name=moveto
		[filter]
#		x,y=35,11
		x,y=24,30
		id=Lorenzon
		[/filter]
	[unit]
	side=1
	x,y=1,1
	type=Ukian Courrier
	id=Scout2
	name= _ "Scout"
	random_traits=yes
	[/unit]
		[message]
		speaker=Scout2
		message= _ "Sir!  I've found something!  You should see!"
		[/message]
		[redraw][/redraw]
		[message]
		speaker=Lorenzon
		message= _ "Our scouts must relay messages through word of mouth because we needed the signal corps here."
		[/message]
		{MOVE_UNIT id=Scout2 5 4}
		[message]
		speaker=Scout2
		message= _ "What the- "
		[/message]
		[message]
		speaker=narrator
		message= _ "Damn it!"
		image=portraits/scarrion.png
		caption= "Scarrion"
# This does not appear to be necessary
#		{FADE_TO_BLACK}
		[music]
		name=legends_of_the_north.ogg
		immediate=yes
		append=no
		[/music]
		[/message]
		[sound]
		name=miss-2.ogg
		[/sound]
		[sound]
		name=spear.wav
		[/sound]
		[sound]
		name=human-die-2.ogg
		[/sound]
#		{FADE_IN}
		[message]
		speaker=Scout2
		message= _ "Well, that was close... "
		[/message]
		{MOVE_UNIT id=Scout2 24 26}
		[message]
		speaker=Scout2
		message= _ "Sir, Scarrion was not dead after all, he had been following us.  But I killed him, his body is on the frozen river to the northwest."
#		image=portraits/scarrion_courrier.png
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "I see, good thing you caught him.  We must deal with these orcs, but then we will deal with his remains..."
		[/message]
	[/event]
	
	[event]
	name=moveto
	     [filter]
		side=1
		x,y=29,37
	     [/filter]
	[message]
	speaker=narrator
	image=scenery/signpost.png
	caption= _ "Signpost"	
	message= _ "KEEP OUT!"
	[/message]
	[/event]

	[event]
#	name=turn 2
	name=turn 10
	     [terrain]
		terrain=Khr
		x,y=26,3
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=25,3
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=27,3
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=26,2
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=26,4
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=25,4
	     [/terrain]
	     [terrain]
		terrain=Chr
		x,y=27,4
	     [/terrain]
		[redraw][/redraw]
	     [unstore_unit]
		variable=astreya	
	     [/unstore_unit]
	{GENERIC_UNIT 5 "Phantom Soldier" 26 5}
	{GENERIC_UNIT 5 "Phantom Soldier" 26 1}
	{GENERIC_UNIT 5 Ghost 24 4}
	{GENERIC_UNIT 5 Ghost 28 4}
	     [music]
		name=the_dangerous_symphony.ogg
		append=yes
	     [/music]
		[message]
		speaker=Astreya
		message= _ "You can run, but you cannot escape...  Justice!  Will!  Be!  Served!"
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "How nice...  She's been haunting us for a while now.  We defeat her, but she keeps coming back..."
		[/message]
		[message]
		speaker=Valeron
		message= _ "We may be able to help.  I'm going to send word to our allies to the south that we have a ghost problem."
		[/message]
		[message]
		speaker=Belleros
		message= _ "(Oh, so now they know how to deal with Undead.  Then what was that Lich doing here?)" 
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "Thank you, Valeron.  Might I ask why, if you have such allies, you let the Lich set up camp?"
		[/message]
		[message]
		speaker=Valeron
		message= _ "An honest question deserves an honest answer:  They were a buffer against the orcs.  Undead do not make good neighbours though, that is why we are willing to give you a chance."
		[/message]
	[/event]

	[event]
	name=turn 20
	       [unit]
		side=4
		type=Mage of Light
		gender=female
		id=Saerah
		name= _ "Saerah"
		x,y=35,49
		random_traits=yes
	       [/unit]
	{GENERIC_UNIT 4 "White Mage" 34 49}
	{GENERIC_UNIT 4 "White Mage" 36 49}
	    [message]
		speaker=Saerah
		message= _ "Greetings, Valeron.  We came as soon as we could.  Those are the evil spirits?"
	    [/message]
	    [message]
		speaker=Valeron
		message= _ "Yes, that phantom is their leader."
	    [/message]
	    [message]
		speaker=Saerah
		message= _ "Phantoms, I have heard of them.  I think we can handle this."
	    [/message]
	    [message]
		speaker=Astreya
		message= _ "I think I will head back to Ukiah.  But know that we have unfinished business to take care of...  If you ever again set foot in Ukiah, I will make sure you meet your deserved fate..."
	    [/message]
	    [message]
		speaker=Astreya
		message= _ "Killers!"
	    [/message]
	    [kill]
		id=Astreya
	    [/kill]
	[/event]

	[event]
	name=time over
		[music]
		name=northerners.ogg
		immediate=yes
		[/music]
		[message]
		speaker=Belleros
		message= _ "That's an awful lot of orcs..."
		[/message]
		[message]
		speaker=Tank Skoro
		message= _ "Haha!  A welcome sight."
		[/message]
		[message]
		speaker=Lorenzon
		message= _ "We're screwed..."
		[/message]
		[endlevel]
		result=defeat 
		[/endlevel]
	[/event]
[/scenario]
